@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  --ff-default: "Roboto", sans-serif;

  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-md: 1.5rem;
  --text-lg: 2.25rem;
  --text-xl: 3rem;

  --tracking-wide: 0.004em;

  --text-white: #f9faf8;
  --text-dark-blue: #1f2937;
  --bg-dark-blue: #1f2937;
  --bg-light-blue: #3882f6;
  --bg-gray: #e5e7eb;
  --bg-gray-translucent: rgba(229, 231, 235, 0.4);

  --spacing-1: 0.5rem;
  --spacing-2: 1.125rem;
  --spacing-3: 1.5rem;
  --spacing-4: 3rem;

  --rounded: 0.25rem;
  --rounded-md: 0.5rem;
  --rounded-lg: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-default);
  font-size: var(--text-base);
  color: var(--text-dark-blue);
}

ul,
ol {
  list-style: none;
}

a,
button {
  font-family: inherit;
  color: var(--text-white);
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
}

@media only screen and (max-width: 62em) {
  h1 {
    font-size: var(--text-lg);
  }

  h2 {
    font-size: var(--text-md);
  }

  h3 {
    font-size: var(--text-base);
  }

  p {
    font-size: var(--text-sm);
  }
}

.button {
  display: flex;
  justify-content: center;
  width: 8.125rem;
  padding-block: 0.5rem;
  font-size: inherit;
  font-weight: 700;
  border-radius: var(--rounded-md);
  cursor: pointer;
}

.button--fill {
  background-color: var(--bg-light-blue);
  border: none;
}

.button--outline {
  background: transparent;
  border: 2px solid var(--text-white);
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(23.4375rem, 100vw, 64rem);
  margin-inline: auto;
  padding-block: var(--spacing-2);
  color: var(--text-white);
}

.header .header__nav .header__logo {
  font-size: var(--text-md);
  font-weight: 700;
}

.header .header__nav .header__menu-list {
  display: flex;
  align-items: center;
}

.header .header__menu-list .header__menu-item:not(:last-child) {
  margin-right: var(--spacing-3);
}

.hero {
  padding-block: 10.3125rem 8.3125rem;
  color: var(--text-white);
  background-color: var(--bg-dark-blue);
}

.hero .hero__container {
  display: flex;
  align-items: center;
  max-width: 64rem;
  margin-inline: auto;
}

.hero .content-container {
  flex: 1;
  padding-right: 3.0625rem;
}

.hero .content-container .text-container {
  padding-bottom: 0.8125rem;
}

.hero .hero__container .img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  width: 100%;
  max-width: 32.625rem;
  padding-block: 6.375rem;
  background-color: var(--bg-gray-translucent);
}

.hero .img-container p {
  margin-top: 0.75rem;
}

.some-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 3rem 1.375rem;
  text-align: center;
}

.some-info .some-info__container .some-info__featured {
  display: flex;
}

.some-info .some-info__container h2 {
  margin-bottom: var(--spacing-4);
}

.some-info .some-info__featured .featured-item {
  width: 10.5rem;
}

.some-info .some-info__featured .featured-item:not(:last-child) {
  margin-right: calc(var(--spacing-4) + 1px);
}

.some-info__featured .featured-item .illustration {
  --dimension: 10.5rem;

  width: var(--dimension);
  height: var(--dimension);
  margin-bottom: calc(var(--spacing-2) - 1px);
  border: 4px solid var(--bg-light-blue);
  border-radius: var(--rounded-lg);
}
