@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

:root {
  --ff-default: "Roboto", sans-serif;

  --text-sm: 1rem;
  --text-base: 1.125rem;
  --text-md: 1.5rem;
  --text-lg: 2.25rem;
  --text-xl: 3rem;

  --tracking-wide: 0.004em;

  --text-white: #f9faf8;
  --text-dark-blue: #1f2937;
  --bg-dark-blue: #1f2937;
  --bg-light-blue: #3882f6;
  --bg-gray: #e5e7eb;

  --spacing-1: 0.5rem;
  --spacing-2: 1.125rem;
  --spacing-3: 1.5rem;
  --spacing-4: 3rem;

  --breakpoint-tablet: 62em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-default);
  font-size: var(--text-base);
  color: var(--text-dark-blue);
}

ul,
ol {
  list-style: none;
}

a,
button {
  font-family: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

h1 {
  font-size: var(--text-xl);
}

h2 {
  font-size: var(--text-lg);
}

h3 {
  font-size: var(--text-md);
}

@media only screen and (max-width: 62em) {
  h1 {
    font-size: var(--text-lg);
  }

  h2 {
    font-size: var(--text-md);
  }

  h3 {
    font: var(--text-base);
  }
}

.header {
  position: absolute;
  left: 0;
  right: 0;
}

.header .header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: clamp(23.4375rem, 100vw, 64rem);
  margin-inline: auto;
  padding-block: var(--spacing-2);
  color: var(--text-white);
}

.header .header__nav .header__logo {
  font-size: var(--text-md);
  font-weight: 700;
}

.header .header__nav .header__menu-list {
  display: flex;
  align-items: center;
}

.header .header__menu-list .header__menu-item:not(:last-child) {
  margin-right: var(--spacing-3);
}

.hero {
  height: 535px;
  background-color: var(--bg-dark-blue);
}
